@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Criar Tarefas";
}

<section class="py-4 container">
    <div class="mx-auto col-10 col-xl-5">
        <label for="exampleFormControlInput1" class="display-6">Título</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mx-auto col-10 col-xl-5">
        <label for="exampleFormControlTextarea1" class="form-label h5 mb-auto mt-4">Tarefa</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
        <div class="p-2 text-center">
            <button type="button" class="btn btn-primary mx-2">Confirmar</button>
            <button type="button" class="btn btn-secondary mx-2">Limpar</button>
        </div>
    </div>
</section>